PORT = 8686

# S3
S3_ENDPOINT_URL = 'localhost:9000'
S3_BUCKET_NAME = 'music'
S3_ACCESS_KEY_ID = 'radio'
S3_SECRET_ACCESS_KEY = '8706fc92efad776eb0fd8257bd0aea17ad139553c8dcbfba92102d57718813d5'
S3_USE_SSL = false